@model CourseProject.Models.Request
@{
    ViewData["Title"] = "Thanks";
}

<div class="text-center">
    <h2>Thank You @Model.Name</h2>
    <h4>Our course is going to be nice</h4>
</div>

<h2>Thanks</h2>

